---
import { getCollection, type CollectionEntry } from "astro:content";
import Container from "./MechanicContainer.astro";
import { getUrl } from "../utils/getUrl";

interface Props {
  variant: "weakAgainst" | "strongAgainst";
  versus: CollectionEntry<"mechanics">["data"]["strongAgainst"];
}

const { variant, versus } = Astro.props;

const color = variant === "strongAgainst" ? "green" : "red";
const title = variant === "strongAgainst" ? "Counters" : "Weaknesses";
const mechanics = await getCollection("mechanics");

const findMechanicName = (slug: string) => {
  return mechanics.find((mechanic) => mechanic.slug === slug)?.data.title;
};
---

<Container color={color} title={title}>
  <div class="flex flex-col">
    {
      (!versus || versus?.length === 0) && (
        <span class="ml-5 text-gray-500 dark:text-gray-300">None</span>
      )
    }
    {
      versus?.map((mechanic) => (
        <a
          class="hover:drop-shadow-highlight"
          href={getUrl(`/mechanics/${mechanic.id.slug}`)}
        >
          <div class="flex flex-row">
            <img
              class="mx-5 w-10"
              src={getUrl(`/images/icons/mechanics/${mechanic.id.slug}.svg`)}
            />
            <div class="flex flex-col">
              <h3 class="font-bold text-xl">
                {findMechanicName(mechanic.id.slug)}
              </h3>
              <span class="text-gray-500 dark:text-gray-300">
                {mechanic.reason}
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Container>
